@import '../../../variables.scss';

.sidebarButton {
  width: calc(100% - 30px);
  padding: 13px 15px;
  max-height: 42px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  align-items: center;
  border-radius: 12px;
  border: 1px solid #c7c7c7;
  margin-top: 10px;
  font-size: 13px;
  user-select: none;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  color: black;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  svg {
    margin-right: 7px;
    color: $accentColor;
    fill: $accentColor;
    width: 20px;
    height: 20px;
    @media (max-width: $mobileWidth) {
      margin-right: 0;
      width: 26px;
      height: 26px;
    }
  }
  span {
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }
  @media (max-width: $mobileWidth) {
    padding: 5px;
    width: auto;
    background-color: transparent;
    border: none;
  }

  @media (max-width: $mobileWidth) {
    &.secondary {
      display: none;
    }
  }
}
