@import "../../variables.scss";

.indexDecision {
  width: calc(100% - 40px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(80px);
  margin-bottom: 20px;

  img {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
    align-items: center;
    .info {
      font-style: italic;
      color: #555;
      font-weight: 500;
    }
    button {
      border-radius: 12px;
      border: none;
      padding: 5px 10px;
      color: $accentColor;
      background: $accentColor;
      color: white;
      cursor: pointer;
      font-size: 14px;
      &.active {
        background: transparent;
        color: $accentColor;
      }
    }
  }
}