@import "../variables.scss";

.likedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .likedPage {
    padding: 32px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(80px);
    margin-bottom: 30px;
  
    h1 {
      font-size: 28px;
      color: #333;
      margin: 0;
      text-align: center;
    }
  }
}