@import '../variables.scss';

.profilePageWrapper {
  .contentBlock {
    width: calc(100% - 40px);
    border-radius: 12px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(80px);
    margin-top: 20px;
    margin-bottom: 20px;

    h2 {
      color: #333;
      margin: 0;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    a {
      color: $accentColor;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .profileInfo {
    display: flex;
    align-items: center;

    .avatar {
      width: 128px;
      height: 128px;
      background-color: #999;
      border-radius: 500px;
      background-position: 0px 80%;
      background-size: 100%;
      display: block;
      position: relative;
      margin-right: 20px;
      cursor: pointer;
    }

    h1 {
      color: #333;
      font-size: 28px;
      margin-bottom: 0;
    }

    p.description {
      margin-top: 5px;
      color: #888;
      margin-bottom: 0;
    }

    p.counts {
      margin-top: 5px;
    }
  }
}
