@import "../../variables.scss";

.sidebar {
  position: sticky;
  top: 0;
  max-width: 260px;
  height: calc(100vh - 40px);
  max-height: 100%;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.8);
  backdrop-filter: blur(70px);
  padding: 20px;
  overflow-y: auto;
  
  @media(max-width: $mobileWidth) {
    position: fixed;
    bottom: 0;
    top: calc(100% - 120px);
    width: calc(100% - 40px);
    max-height: 80px;
    max-width: none;
    z-index: 999;
  }

  .logo {
    display: flex;
    align-items: center;

    svg {
      width: 42px;
      height: 42px;
    }

    p {
      font-weight: bold;
      font-weight: 600;
      font-size: 16px;
      margin-left: 12px;
    }

    @media(max-width: $mobileWidth) {
      display: none;
    }
  }

  .search {
    margin-top: 25px;

    input {
      width: calc(100% - 30px);
      padding: 0;
      border: 1px solid #d8d8d8;
      height: 42px;
      border-radius: 12px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 13px;
    }

    .someResult {
      padding: 15px;
      background-color: white;
      border-radius: 12px;
      border: 1px solid #d8d8d8;
      margin-top: 5px;
      position: absolute;
      width: calc(100% - 70px);
      left: -100%;
      transition: left .3s;
    }

    input:focus+.someResult,
    .someResult:hover {
      left: 20px;
    }

    .tag {
      font-weight: bold;
      font-size: 14px;
      margin-top: 10px;
    }

    a {
      display: block;
      color: $accentColor;
      font-size: 14px;
      width: 100%;
      height: 28px;
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media(max-width: $mobileWidth) {
      display: none;
    }
  }

  .sidebarAuthPanel {
    p {
      line-height: 1.46;
      @media(max-width: $mobileWidth) {
        display: none;
      }
    }

    button {
      cursor: pointer;
      transition: opacity .3s;
      font-size: 13px;

      &:hover {
        opacity: .9;
      }
    }

    .join {
      width: 100%;
      height: 42px;
      margin-bottom: 10px;
      border-radius: 12px;
      background: $accentColor;
      border: none;
      color: white;
    }

    .reg {
      width: 100%;
      height: 42px;
      border-radius: 12px;
      border: 1px solid #d8d8d8;
      background-color: white;
    }

    a {
      text-decoration: none;
      color: $accentColor;
      text-align: center;
      display: block;
      margin-top: 10px;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }

    @media(max-width: $mobileWidth) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .join {
        width: 40%;
      }
      .reg {
        width: 58%;
      }
      a {
        width: 100%;
      }
    }
  }

  .buttons {
    margin-top: 30px;
    @media(max-width: $mobileWidth) {
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .btn {
      width: calc(100% - 30px);
      padding: 13px 15px;
      max-height: 42px;
      display: flex;
      background-color: rgba(255, 255, 255, .8);
      align-items: center;
      border-radius: 12px;
      border: 1px solid #c7c7c7;
      margin-top: 10px;
      font-size: 13px;
      user-select: none;
      cursor: pointer;
      transition: background .3s;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: rgba(255, 255, 255, 1);
      }
      svg {
        margin-right: 7px;
        color: $accentColor;
        fill: $accentColor;
        width: 20px;
        height: 20px;
        @media(max-width: $mobileWidth) {
          margin-right: 0;
          width: 24px;
          height: 24px;
        }
      }
      span {
        @media(max-width: $mobileWidth) {
          display: none;
        }
      }
      @media(max-width: $mobileWidth) {
        padding: 13px;
        width: auto;
      }
    }
    .separator {
      margin: 10px;
      background-color: #c7c7c7;
      width: calc(100% - 20px);
      height: 1px;
      @media(max-width: $mobileWidth) {
        display: none;
      }
    }
    @media(max-width: $mobileWidth) {
      display: flex;
      flex-direction: row;
      .secondaryButtons {
        display: none;
      }
    }
    height: auto;
  }
  .userInfo {
    padding-left: 14px;
    border-radius: 12px;
    background-color: white;
    margin-top: auto;
    bottom: 40px;
    width: calc(100% - 14px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
    @media(max-width: $mobileWidth) {
      display: none;
    }
    b {
      font-size: 14px;
      display: block;
      padding-top: 14px;
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    span {
      font-size: 12px;
      display: block;
      padding-bottom: 14px;
    }

    .settingsBtn {
      padding-left: 15px;
      border-left: 1px solid #eee;
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 14px;
      border-radius: 0px 12px 12px 0px;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
        color: $accentColor;
      }
      &:hover {
        background: #f9f9f9;
      }
    }

    .avatar {
      background-color: #999;
      width: 42px;
      height: 42px;
      border-radius: 50px;
      background-position: 0px 100px;
      background-size: 100%;
    }

    .userContent {
      display: flex;
      align-items: center;
      .texts {
        margin-left: 10px;
      }
    }
  }
  display: flex;
  flex-direction: column;

  .links {
    color: #818181;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    a.support {
      display: block;
      font-size: 13px;
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}