@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.theme__light,
:root {
  --defaultFont: -apple-system, BlinkMacSystemFont, "Inter", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --pageBackground: #f9f9f9;
  --accentButtonBackground: var(--accentColor);
  --accentButtonForeground: #fff;
  --cancelButtonBackground: #eef3f7;
  --cancelButtonBackground__hover: #e2e7eb;
  --cancelButtonForeground: var(--primaryText);
  --hoverBackground: #eeeeee;
  --accentBackground: #fff;
  --blockBoxShadow: 0px 4px 15px rgb(231, 231, 231);
  --accentColor: #4978ff;
  --primaryText: rgb(9, 9, 10);
  --containerBackground: rgba(249, 249, 249, 0.8);
  --developersWrapperWidth: 1400px;
  --primaryBorder: 1px solid #c7c7c7;
  --activeCheckbox: var(--accentColor);
  --checkboxBorder: 1px solid #999;
  --popupWrapperBackground: rgba(255, 255, 255, 0.2);
  --popupBackground: white;

  --developersPrimaryText: #000;
  --developersContainerBackground: #fff;
  --developersBorder: 1px solid #eee;
  --developersTextCodeBackground: #ebecec;
  --developersCodeBackground: #f6f7f8;
  --developersCodeBorder: 1px solid #e7e7e7;
}

.theme__dark {
  --blockBoxShadow: 0px 4px 15px rgb(36, 36, 36);
  --pageBackground: #252525;
  --accentButtonBackground: #cfcfcf;
  --accentButtonForeground: #0f0f0f;
  --cancelButtonBackground: #3a3a3a;
  --cancelButtonBackground__hover: rgb(73, 73, 73);
  --cancelButtonForeground: var(--primaryText);
  --accentBackground: #252525;
  --accentColor: #f0f0f0;
  --hoverBackground: #303030;
  --primaryText: rgb(219, 222, 226);
  --containerBackground: rgba(43, 43, 43, 0.8);
  --developersWrapperWidth: 1400px;
  --primaryBorder: 1px solid #1b1b1b;
  --activeCheckbox: #242424;
  --checkboxBorder: 1px solid #7c7c7c;
  --popupWrapperBackground: rgba(0, 0, 0, 0.2);
  --popupBackground: #2e2e2e;

  --developersPrimaryText: #eeeeee;
  --developersContainerBackground: #1f1f1f;
  --developersBorder: 1px solid #3b3b3b;
  --developersTextCodeBackground: #333333;
  --developersCodeBackground: #262729;
  --developersCodeBorder: 1px solid #333333;

}

@media (max-width: 1000px) {
  :root {
    --containerBackground: rgba(249, 249, 249, 1);
  }

  .theme__dark {
    --containerBackground: rgba(43, 43, 43, 1);
  }
}

*,
button,
input,
textarea {
  font-family: "Inter", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  outline: none;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
}

p.required::after {
  content: " *";
  color: red;
}

select,
button {
  color: #000;
}

select,
input {
  background: white;
}

@media (min-width: 1000px) {
  #R-A-2536124-2 {
    display: none;
  }
}
