$pageBackgrounds: #f9f9f9;
$defaultFont: -apple-system, BlinkMacSystemFont, 'Inter', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$blockBoxShadow: 0px 4px 15px rgb(231, 231, 231);
$mobileWidth: 580px;

$accentColor: #4978FF;