@import "../variables.scss";

.subscribedWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .subscribedPage {
    h1.title {
      font-size: 28px;
      text-align: center;
      padding: 15px;
      border-radius: 12px;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(80px);
      color: #333;
    }
  }

  .contentBlock {
    width: calc(100% - 40px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    margin-bottom: 30px;
    h1 {
      font-size: 24px;
      color: #333;
      margin: 0;
    }
    b {
      margin-top: 10px;
      display: block;
    }
    ul {
      padding: 0;
      padding-left: 25px;
      list-style: square;
      margin-top: 10px;
    }
    a {
      text-decoration: none;
      color: $accentColor;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}